.select-text {
  font-family: sans-serif, Arial, Helvetica;
  font-size: 20px;
}

.option-box {
  width: 50%;
}

.select-add-btn {
  margin-left: 20px;
}

.div-option {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.div-option-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.option-text {
  font-size: 20px;
  font-family: sans-serif;
  padding: 12px 10px;
  background-color: darkolivegreen;
  border-radius: 20px;
  color: white;
  margin-right: 10px;
}