.box {
  text-align: center;
  margin-top: 5rem;
  width: 100%;
}
.text {
  font-size: 80px;
  font-family: sans-serif;
  color: #3a4920;
}
.paragraph-text {
  font-size: 30px;
  font-family: sans-serif;
  color: #3a4920;
  margin-block-start: -1.5rem;
  font-weight: 100;
}
.image {
  margin-top: 30px;
  height: 200px;
  width: 200px;
}